@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Orbitron', sans-serif;
}


/*INICIO*/

.inicio {
    background-image: url(../img/bg7.jpg);
    height: 95vh;
    overflow: hidden;
    background-position: center;
    display: flex;
    background-size: cover;
}

.cross {
    color: rgb(255, 255, 255);
    flex-basis: 50%;
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pole {
    color: rgb(255, 255, 255);
    flex-basis: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

i {
    color: rgb(255, 255, 255);
    font-size: 5vh;
    padding-left: 2vh;
}

a {
    text-decoration: none;
    color: white;

}

h1 {
    font-size: 3vh;
    overflow: hidden
}

/*HTML AERO*/

.sect1 {
    background-image: url(../img/bgpole.jpg);
    height: 90vh;
    overflow: hidden;
    background-position: center;
    display: flex;
    background-size: cover;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
}

.logopole {
    width: 50px;
    height: 50px;
}

.p1 {
    font-size: 3vh;
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 1;
}

.p2 {
    font-size: 5vh;
    text-align: center;
    color: white;
    opacity: 1;

}

.anclamail {
    color: black;
}

/*HTML AREA51*/

.body51 {
    background-color: black;
    color: white;
}

.pagcross {
    background-color: black;
    height: 95vh;
    background-position: bottom;
    color: white;
    text-align: center;
    font-size: 3VH;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.customnav {
    background-color: black;
}

.customnav .navbar-nav .nav-link {
    color: #fff;
}

.secthorarios {
    background-color: black;
    color: white;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.anclamail51 {
    color: white;
}

/*BOTON WHATSAPP*/

.botonWhatsApp img {
    width: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.botonpole img {
    width: 70px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.boton51 img {
    width: 70px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

/*FOOTER*/

footer {
    background-color: black;
    color: white;
    height: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

@media (max-width: 575px) {
    .p1 {
        font-size: 2vh;
        text-align: center;
        color: rgb(255, 255, 255);
        opacity: 1;
    }

    .p2 {
        font-size: 3vh;
        text-align: center;
        color: white;
        opacity: 1;

    }

    .contacto {
        flex-direction: column;

    }

    .footercustom {
        height: 7vh;
    }

    .pagcross {
        font-size: 2vh;
    }

    .secthorarios {
        font-size: 2vh;
    }
}