* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*INICIO*/

.inicio{
    background-image: url(../img/bg7.jpg);
    height: 95vh;
    overflow: hidden;
    background-position: center;
    display: flex;
}

.cross {
    color: rgb(255, 255, 255);
    flex-basis: 50%;
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pole {
    color: rgb(255, 255, 255);
    flex-basis: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

i {
    color: rgb(255, 255, 255);
    font-size: 5vh;
    padding-left: 2vh;
}

a{
    text-decoration: none;
    color: white;
}


/*HTML AERO*/
.pagaero{
    background-image: url(../img/bgpole.jpg);
    height: 95vh;
    overflow: hidden;
    background-position: center;
    display: flex;
}

/*HTML AREA51*/

.pagcross{
    background-image: url(../img/bgar51.jpg);
    height: 95vh;
    overflow: hidden;
    background-position: center;
    display: flex;
}


/*FOOTER*/

footer {
    background-color: black;
    color: white;
    height: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}